<div class="page-border" data-wow-duration="0.7s" data-wow-delay="0.2s">
  <div class="top-border wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;"></div>
  <div class="right-border wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;"></div>
  <div class="bottom-border wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"></div>
  <div class="left-border wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"></div>
</div>

<div id="wrapper">
  <!-- Header -->
  <afs-header></afs-header>
  <!--Main Content Area-->
  <main id="content">
    <!-- <afs-home></afs-home>
    <afs-intro></afs-intro>
    <afs-gallery></afs-gallery>
    <afs-content></afs-content>
    <afs-testimonial></afs-testimonial>
    <afs-clients></afs-clients>
    <afs-pricing></afs-pricing> -->
    <router-outlet></router-outlet>
  </main>
  <!--End Main Content Area-->
  <!--Footer-->
  <afs-footer></afs-footer>
</div>